@import url('https://fonts.googleapis.com/css?family=Russo+One');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Russo One';
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
	background: #DCDCC6;
  color: #000;
  animation-name: appear;
  animation-duration: 2s;
}

header {
  color: #fff;
  position: fixed;
  width: 80%;
  height: 80px;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  border-radius: 60px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 10px;
}
header .logo img {
  position: relative;
  width: 60px;
  margin-left: 30px;
  filter: invert(1);
}
header .name {
  position: absolute;
  width: 95%;
  text-align: center;
  font-size: 40px;
  align-self: center;
}
header .nav .menu {
  position: relative;
}
header .nav .menu a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
header .nav .menu a:hover {
  color: #999;
  text-decoration: none;
  transition: 0.3s;
}

.page {
  font-family: 'Russo One';
  position: absolute;
  font-size: 30px;
  writing-mode: vertical-rl;
  padding-top: 200px;
  left: 95%;
}

.box1 {
  width: 100%;
  height: auto;
  animation: bg 90s ease infinite;
}
@keyframes bg {
  10% {
    background-image: url(https://source.unsplash.com/random/1920x1080/?light,city);
  }
  20% {
    background-image: url(https://source.unsplash.com/random/1920x1080/?landscape);
  }
  30% {
    background-image: url(https://source.unsplash.com/random/1920x1080/?night,city);
  }
  40% {
    background-image: url(https://source.unsplash.com/random/1920x1080/?cyberpunk,landscape);
  }
  50% {
    background-image: url(https://source.unsplash.com/random/1920x1080/?moon);
  }
  60% {
    background-image: url(https://source.unsplash.com/random/1920x1080/?vulcano);
  }
  70% {
    background-image: url(https://source.unsplash.com/random/1920x1080/?dark,castle);
  }
  80% {
    background-image: url(https://source.unsplash.com/random/1920x1080/?virtual,city);
  }
  90% {
    background-image: url(https://source.unsplash.com/random/1920x1080/?holo,portain);
  }
  100% {
    background-image: url(https://source.unsplash.com/random/1920x1080/?liquid,holo);
  }
}
.box1 .main {
  background: rgba(220, 220, 198, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  padding-top: 250px;
  padding-bottom: 200px;
}
.box1 .main .logo img {
  align-self: center;
  width: 400px;
}
.box1 .main .text {
  display: flex;
  flex-direction: column;
}
.box1 .main .text .student {
  font-size: 60px;
  font-weight: bold;
  background: linear-gradient(45deg, #5c8499, #3f5c6b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box1 .main .text .name {
  font-size: 120px;
  font-weight: bolder;
  background: linear-gradient(45deg, #83322c, #4d1d19);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box2 {
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 40px;
}
.box2 .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
}
.box2 .about .title {
  font-size: 50px;
}
.box2 .about .text {
  font-size: 40px;
  width: 80%;
  word-break: break-word;
}
.box2 .about .text .link {
  text-decoration: none;
  color: #83322c;
  transition: 0.3s;
}
.box2 .about .text .link:hover {
  text-decoration: none;
  color: #83322c;
  font-size: 45px;
  transition: 0.3s;
}

.box3 {
  width: 100%;
  height: auto;
}
.box3 .learn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
}
.box3 .learn .title {
  font-size: 50px;
}
.box3 .learn .list {
  font-size: 50px;
  list-style-type: none;
}
.box3 .learn .list li {
  font-size: 40px;
  list-style-type: none;
}

.box4 {
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 40px;
}
.box4 .title {
  padding-top: 150px;
  font-size: 50px;
  display: flex;
  justify-content: center;
}
.box4 .portfolio {
  padding-top: 50px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
  text-align: center;
  padding-bottom: 150px;
  column-gap: 60px;
}
.box4 .portfolio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  width: 300px;
  height: 400px;
  background: rgba(0,0,0,0.5);
  border-radius: 60px;
  font-size: 50px;
  overflow: hidden;
}
.box4 .portfolio .container .demo {
  transition: 0.3s;
}
.box4 .portfolio .container .demo:hover {
  transition: 0.3s;
  transform: scale(1.5);
}

.box5 {
  width: 100%;
  height: auto;
}
.box5 .title {
  padding-top: 150px;
  font-size: 50px;
  display: flex;
  justify-content: center;
}
.box5 .socials {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
  padding-bottom: 150px;
}
.box5 .socials a {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}
.box5 .socials a:hover {
  transition: 0.3s;
  font-size: 45px;
  text-decoration: none;
  color: #83322c;
}
