@import url('https://fonts.googleapis.com/css?family=Oswald');
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald';
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background: #3F4E4F;
  color: #DCD7C9;
  animation: LoadPage 1s 1 ease;
}
.navbar {
  width: 100%;
  height: 80px;
  background: rgba(33, 33, 33, .5);
  color: #DCD7C9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 10;
}
.navbar__logo {
  width: 60px;
  filter: invert(1);
}
.navbar__text {
  position: absolute;
  font-size: 35px;
}
.navbar__menu {
  display: flex;
  font-size: 30px;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 20px;
}
.navbar__button {
  color: #DCD7C9;
  transition: 0.2s;
}
.navbar__button:hover {
  color: rgb(109, 109, 109);
  text-decoration: none;
  transition: 0.2s;
}
.pageup {
  width: 82px;
  height: 80px;
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 50px;
  right: 100px;
  cursor: pointer;
  background-color: #A27B5C;
  padding-right: 15px;
  border-radius: 20px;
  overflow: hidden;
  transition: .5s;
  opacity: .5;
}
.pageup__img {
  width: 80px;
  height: 80px;
}
.pageup_text {
  font-size: 48px;
  text-decoration: none;
  color: #000;
}
.pageup:hover {
  width: 220px;
  border-radius: 20px;
  transition: .5s;
  opacity: .8;
}
.section {
  width: 100%;
  height: auto;
}
.container {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-around;
  padding: 200px;
}
.container__number {
  position: absolute;
  font-size: 30px;
  writing-mode: vertical-rl;
  left: 95%;
}
.container__logo {
  align-self: center;
  width: 400px;
  filter: drop-shadow(0px 0px 20px);
  animation: neon-shadow 10s infinite ease-in-out;
}
.container__text {
  text-align: center;
  font-size: 48px;
  text-decoration: none;
  list-style-type: none;
}
.container__box {
  width: 500px;
  height: 300px;
  background: rgba(0,0,0,0.5);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container__box-name {
  font-size: 48px;
  transition: 0.3s;
}
.container__box-name:hover {
  transform: scale(1.5);
  transition: 0.3s;
}
.container__link {
  font-size: 48px;
  color:#DCD7C9;
  text-decoration: none;
  transition: 0.1s;
}
.container__link:hover {
  font-size: 52px;
  color: #32a852;
  transition: 0.1s;
}
.container_flex_row {
  display: flex;
  flex-direction: row;
}
.container_flex_column {
  display: flex;
  flex-direction: column;
}
.container__text_size_s {
  font-size: 40px;
}
.container__text_size_xl {
  font-size: 60px;
}
.container__text_size_xxl {
  font-size: 82px;
}
.container__text_color_leather {
  background: linear-gradient(45deg, #DCD7C9, #A27B5C, #A27B5C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container_background_image {
  background-color: rgba(0, 0, 0, 0);
}
.container_type_dark {
  background: #2C3639;
  filter: drop-shadow(0px 0px 20px);
  animation: neon-shadow 5s infinite ease-in-out;
}
.container_items_align {
  column-gap: 60px;
}
@keyframes neon-shadow {
  0% {
    filter: drop-shadow(0px 0px 20px #DCD7C9);
  }
  20% {
    filter: drop-shadow(0px 0px 30px #DCD7C9);
  } 
  40% {
    filter: drop-shadow(0px 0px 10px #DCD7C9);
  }
  60% {
    filter: drop-shadow(0px 0px 25px #DCD7C9);
  }
  80% {
    filter: drop-shadow(0px 0px 10px #A27B5C);
  }
  100% {
    filter: drop-shadow(0px 0px 20px #DCD7C9);
  }
}
@keyframes LoadPage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container__boxes {
  display: flex;
  flex-direction: row;
  place-content: center;
  justify-content: space-around;
}
.section-about__container__box {
  width: 400px;
  height: auto;
  padding: 15px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  font-size: 48px;
  overflow: visible;
}
.section-about__container__box-text {
  display: flex;
  flex-direction: column;
  font-size: 34px;
  text-align: left;
}
.container__box-img {
  width: 400px;
  border-radius: 100%;
}
/*Телефон*/
@media (min-width: 320px) and (max-width: 480px) {
  .navbar {
    height: auto;
    flex-direction: column;
  }
  .navbar__text {
    display: none;
  }
  .navbar__menu {
    letter-spacing: 0;
    column-gap: 20px;
  }
  .container {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .container__logo {
    width: 80%;
  }
  .container__number {
    display: none;
  }
  .container__text {
    font-size: 38px;
  }
  .container__text_size_xl {
    font-size: 42px;
  }
  .container__text_size_xxl {
    font-size: 48px;
  }
  .container_flex_row {
    flex-direction: column;
  }
  .container__link {
    font-size: 38px;
  }
  .container__box {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .container__text_color_leather {
    background: linear-gradient( #DCD7C9, #A27B5C, #A27B5C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .container__boxes {
    display: flex;
    flex-direction: column;
    place-content: center;
    justify-content: center;
  }
  .section-about__container__box {
    width: auto;
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    font-size: 34px;
    overflow: visible;
  }
  .container__box-img {
    width: 200px;
    border-radius: 100%;
  }
  .pageup {
    transform: scale(0.8);
    bottom: 10px;
    right: 10px;
  }
}
/*Планшеты*/
@media (min-width: 481px) and (max-width: 768px) {
  .navbar__text {
    display: none;
  }
  .navbar__button {
    font-size: 42px;
  }
  .container {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 50px;
    padding-left: 50px;
    place-content: center;
  }
  .container__text_size_xxl {
    font-size: 82px;
  }
  .container__box {
    width: 80%;
    height: 250px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .container_items_align {
    column-gap: 40px;
  }
  .container__number {
    display: none;
  }
  .container_items_align {
    column-gap: 20px;
  }
  .container__boxes {
    display: flex;
    flex-direction: column;
    place-content: center;
  }
  .section-about__container__box {
    width: auto;
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    font-size: 38px;
    overflow: visible;
  }
  .container__box-img {
    width: 400px;
    border-radius: 100%;
  }
}
/*Ноутбуки*/
@media (min-width: 769px) and (max-width: 1024px) {
  .navbar__text {
    display: none;
  }
  .container {
    padding-right: 80px;
    padding-left: 80px;
  }
  .container__logo {
    width: 30%;
  }
  .container__text_size_xl {
    font-size: 48px;
  }
  .container__text_size_xxl {
    font-size: 72px;
  }
  .container__boxes {
    display: flex;
    flex-direction: column;
    place-content: center;
  }
  .section-about__container__box {
    width: auto;
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    font-size: 38px;
    overflow: visible;
  }
  .container__box-img {
    width: 400px;
    border-radius: 100%;
  }
}
/*Телевизор?*/
@media (min-width: 1201px) {

}
